@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Agilis Test</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Agilis Test</h2>
        <p>
            You can access to the companies and clients CRUD in the top menu.
            Enjoy! :)
        </p>
    </div>
</div>